@import url(https://allfont.net/allfont.css?fonts=league-spartan);
@media only screen and (min-width: 770px) {
  :root {
    --dark-bg: rgba(24, 86, 122, 0.26);
    --dark-bg-opaque: rgb(10, 36, 51);
    --spacing: 200px;
    font-family: "League Spartan Bold", arial;
    font-size: 20px;
  }
  body::-webkit-scrollbar {
    width: 0.5rem;
  }
  body::-webkit-scrollbar-track {
    background: #141414;
  }
  body::-webkit-scrollbar-thumb {
    background: var(--dark-bg);
  }
  .contentContainer {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    position: absolute;
  }
  .contentGrid {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    top: 0;
    left: 0;
    color: white;
    z-index: 99;
    position: absolute;
    width: 99%;
    overflow: hidden;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    margin: 0px auto;
    padding-top: 120px;
    padding-bottom: 400px;
    /*extra padding for smooth scrolling to/from bottom anchor tag*/
  }
  .tester {
    -ms-grid-column: 10;
    -ms-grid-column-span: 1;
    grid-column: 10 / 11;
  }
  .aboutTitle {
    background: var(--dark-bg);
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  /* .aboutTitle > .flexItem {
  border-top: 2px solid white;
} */
  /* .nav {
  background: var(--dark-bg-opaque);
  height: 100vh;
  width: 8.5%;
  position: fixed;
  z-index: 100;
  transition: width 250ms ease;
} */
  .aboutMe {
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-column: 3 / 10;
  }
  .aboutHeader {
    font-size: 40pt;
  }
  .portfolio {
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-column: 3 / 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section.portfolio > div:first-child {
    margin-right: 20px;
  }
  .imgStacker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .imgStacker > img {
    margin-bottom: 20px;
  }
  .contact {
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-column: 3/ 10;
  }
  .section {
    background: var(--dark-bg);
    font-size: 1.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }
}
/*# sourceMappingURL=styles.css.map */